NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
AGREEMENT_FROM_EMAIL=Apex Fleet Consulting <partners@apexfleetconsulting.com>
ADMIN_NOTIFICATION_EMAIL=brooke@apexfleetconsulting.com
ADMIN_EMAILS=brooke.benkert@gmail.com,brooke@apexfleetconsulting.com
PARTNER_PORTAL_URL=https://partners.apexfleetconsulting.com/portal
